{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 184337088, {widgetPosition: "left",tooltipButtonText: "Есть вопрос?"});
</script>

<script>
    if (!window.matchMedia("screen and (max-width: 768px)").matches) {
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1993717-2',
                blockId: 'R-A-1993717-2'
            });
        });
    }
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            "blockId": "R-A-1993717-5",
            "renderTo": "yandex_rtb_R-A-1993717-5",
            "type": "feed"
        });
    });
</script>
