{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css" />

<!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb || []</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>

<script>
    // Yandex.RTB R-A-1993717-3
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            type: 'fullscreen',
            platform: 'touch',
            blockId: 'R-A-1993717-3'
        });
    });

    // Yandex.RTB R-A-1993717-4
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            type: 'floorAd',
            blockId: 'R-A-1993717-4'
        });
    });
</script>
